{:positions [{:key "meetsmore-rdel"
              :title "R&D Engineering Lead"
              :link "https://meetsmore.com"
              :link-text "MeetsMore"
              :years "2025-Now"}
             {:key "flip-cto"
              :title "Chief Technology Officer"
              :link "https://flip.cards"
              :link-text "FLIP"
              :years "2021-2024"}
             {:key "flip-cdl"
              :title "Client Development Lead"
              :link "https://flip.cards"
              :link-text "FLIP"
              :years "2020-2021"}
             {:key "flip-fsr"
              :title "Full Stack React Developer"
              :link "https://flip.cards"
              :link-text "FLIP"
              :years "2019-2020"}
             {:key "indie-dev"
              :title "Independent Developer"
              :link nil
              :link-text "Various"
              :years "2016-2018"}]
 :currents [{:key "reading"
             :heading "Reading"
             :title "A System for Writing by Bob Doto"}
            {:key "listening"
             :heading "Listening"
             :title "Piano Concerto No. 3 by Rachmaninoff"}
            {:key "watching"
             :heading "Watching"
             :title "Effect Days Conference 2025"}]
 :open-source  [{:title "ClojureScript Project Starter"
                 :url "https://github.com/harismh/utsb-cljs-starter"}
                {:title "Data-driven UIs w/ Dumdom"
                 :url "https://github.com/harismh/todomvc-dumdom"}
                {:title "Joy of Clojure Code Notes"
                 :url "https://github.com/harismh/joy-notes"}
                {:title "React Native Web Track Player"
                 :url "https://github.com/harismh/react-native-webview-track-player"}
                {:title "Tokyo Twilight VS Code Theme"
                 :url "https://github.com/harismh/tokyo-twilight"}]}
